*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea

/myapplication/
app/src/main/java/com/yousails/chrenai/framework/download/
easeui/build/generated/res/
easeui/build/generated/source/aidl/
easeui/build/generated/source/apt/
easeui/build/intermediates/bundles/debug/aidl/
easeui/build/intermediates/bundles/debug/assets/
easeui/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
easeui/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
easeui/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
easeui/build/intermediates/incremental/packageDebugResources/stripped.dir/
easeui/build/intermediates/incremental/processDebugAndroidTestResources/
easeui/build/intermediates/incremental/processDebugResources/
easeui/build/intermediates/shaders/
easeui/build/intermediates/tmp/
easeui/build/tmp/
