<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.yousails.common">

    <application android:allowBackup="true"
        android:label="@string/common_app_name"
        tools:replace="android:label"
        android:supportsRtl="true">

    </application>

</manifest>
